<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-icon">
    <i class="fas fa-home"></i>
  </a>

  <h3>Psychotherapiepraktijk Inge van Meurs</h3>


  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="/over_mij.html" class="navbar-wagon-item navbar-wagon-link">Over Mij</a>
    <a href="/voor_wie.html" class="navbar-wagon-item navbar-wagon-link">Voor Wie?</a>
    <a href="/de_praktijk.html" class="navbar-wagon-item navbar-wagon-link">De Praktijk</a>
    <a href="/psychotherapie.html" class="navbar-wagon-item navbar-wagon-link">Psychotherapie</a>
    <a href="/adoptie.html" class="navbar-wagon-item navbar-wagon-link">Adoptie</a>



  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="/over_mij.html">Over Mij</a></li>
        <li><a href="/voor_wie.html">Voor Wie?</a></li>
        <li><a href="/de_praktijk.html">De Praktijk</a></li>
        <li><a href="/psychotherapie.html">Psychotherapie</a></li>
        <li><a href="/adoptie.html">Adoptie</a></li>
      </ul>
    </div>
  </div>
</div>

</div>
