.banner-text {
  color: white;
  text-align: center;
  width: 100%;
  h1 {
    font-size: 80px !important;
    font-family: $headers-font;
  }
}

.addmargin {
  margin-top: 133px !important;
}
.home-body {
  height: 200vh;
  background-color: white;
}

// .grey-background{
//   text-align: left;
//   color: $gray;
//   background-color: $light-gray;
//   padding-left: 35px;
//   padding-right: 35px;
// }

.home-container {
  padding-left: 50px !important;
  padding-right: 50px !important;
  background-color: $light-gray;
}

.line {
  background-color: $banner-grey;
}

.line2{
  background-color: #6f536e;
}

.no-margin {
  margin: 0 !important;
}
.page-text {
  margin-top: 25px;
  padding-left: 15px;
  padding-left: 15px;
  p{
    font-size: 24px;
  }
}

.page-text-half {
  // width: 50%;
  padding-left: 25px;
  padding-right: 15px;
  p{
    font-size: 24px;
  }
}

.page-text-half-right {
  // width: 57%;
  // padding-left: 50px;
  // padding-right: 15px;
  p{
    font-size: 24px;
  }
}
