
.banner {
  color: $gray;
  text-align: center;
   /* if you have a 70px navbar => height: calc(100vh - 70px); */
  height: 100vh;
  background-size: cover !important;
  // opacity: 0.5;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  background-position: center center;
  // background-image: asset-url("spade.jpeg");

}

.no-padding {
  padding: 0;
}

// .banner-margin {
//   margin-bottom: 25%;
// }


.banner-content h1 {
  // margin-top: 400px;
  font-size: 70px;
  font-weight: bold;
  text-shadow: 2px 2px black;
  // margin-bottom: 40px;
  font-family: $body-font;
  color: $light-gray;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.banner-content h3 {
  // margin-top: 350px;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 2px 2px black;
  margin-bottom: 40px;
  font-family: "Raleway", "serif";
  color: $light-gray;
}

.banner-content p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  font-family: 'Noto Sans', sans-serif;
  color: $light-gray;
  // margin-bottom: 30px;
}

.banner-button {
  margin-top: 20%;
}


.small-banner {
  h1{
    color: $gray;
  }
  width: 100%;
  text-align: center;
  height: 30vh;
  background-size: cover !important;
  background-position: center center;

}

.medium-photo {
  // width: 50%;
  padding: 20px;
  height: 70vh;
  background-size: cover !important;
  background-position: center center;

}

.map-photo {
  width: 550px;
  // padding: 20px;
  margin-top: 30px;
  height: 70vh;
  background-size: cover !important;
  background-position: center center;

}

.small-photo {
  width: 400px;
  display: block;
  text-align: center;
  height: 50vh;
  margin: 10px auto 15px 30px;
  background-size: cover !important;
  background-position: center center;

}

.block {
  display: block;
  margin: auto !important;
}

.odd-photo {
  width: 550px;
  // padding: 20px;
  height: 500px;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  margin: 0 auto;
  background-size: cover !important;
  background-position: top center !important;
}

.handen-image {
  text-align: center;
  margin-top: 50px !important;
  margin: 0 auto;
  width: 550px;
  height: 800px;
  background-size: contain !important;
  // background-position: top center !important;
}

.bomen-image {
  margin-top: 60px !important;
  margin: 0 auto;
  width: 500px;
  height: 600px;
  // margin-left: 25px;
  background-size: cover !important;
  background-position: top center !important;
}

  .button-wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .banner-button{
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }

  .banner-button:hover {
    background-color: #f2c4df;
    box-shadow: 0px 15px 20px rgb(242, 196, 223);
    color: #fff;
    transform: translateY(-7px);
  }
