

.picture-left {
  max-width: 100%;
  min-width: 50%;
  max-height: 50vh;
  padding: 10px;
}

.picture-left:hover {
  padding: 0;
  transition: .5s ease;

}


// .small-image {
//   height: 25vh;
//   width: 100%;
// }
.small-card {
  height: 25vh;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
  background-size: cover;
  position: relative;
}


.small-card:hover{
  padding: 0px;
  // opacity: 0.5;
  // filter: alpha(opacity=50);
  transition: .5s ease;
}


#top-margin {
  margin-top: 2% !important;
}


.index-container {
  margin-left: 30%;
  margin-right: 30%;
}

.card-text {
  color: white;
  font-size: 24px;
  // visibility: hidden;
  height: 25vh;
  width: 100%;
  background-color: white;

}

// .card-text:hover {
//   visibility: visible;
// }

// .overlay {
//   height: 25vh;
//   width: 100%;
//   opacity: 0;
//   position: absolute;
//   top: 0;
//   left: 0;
//   visibility: hidden;
// }

// .overlay {
//   opacity: 1;
//   visibility: visible;
// }


