body {
  // overflow-x: hidden;
}

.band {
  width: 100%;
  height: 5%;
  background-color: #469AE0;
}

.band2 {
  width: 100%;
  height: 5%;
  background-color: #FDB631;
}

.band3 {
  width: 100%;
  height: 5%;
  background-color: #E67E22;
}



.picture-left {
  max-width: 100%;
  min-width: 50%;
  max-height: 50vh;
  padding: 10px;
}

.picture-left:hover {
  padding: 0;
  transition: .5s ease;

}



.small-card {
  height: 25vh;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
  background-size: cover;
  position: relative;
}


.small-card:hover{
  padding: 0px;
  // opacity: 0.5;
  // filter: alpha(opacity=50);
  transition: .5s ease;
}


#top-margin {
  margin-top: 2% !important;
}


.index-container {
  margin-left: 30%;
  margin-right: 30%;
}

.card-text {
  color: white;
  font-size: 24px;
  // visibility: hidden;
  height: 25vh;
  width: 100%;
  background-color: white;

}


.home-mobile {
  text-align: center;
}

.home-text-mobile {
  font-family: $headers-font;
}

.image-mobile {
  max-width: 72%;
  min-width: 10%;
  max-height: 50%;
  margin: 2%;
}
