
<div class="margin">
  <div class="text-adoptie col-md-6 col-sm-12">


   <h2>Adoptie</h2>
   <br>

    <p>

      Mijn bijzondere belangstelling gaat uit naar adoptie. Juist geadopteerde mensen kunnen in hun leven te maken krijgen met vragen als: wie ben ik, wat is mijn identiteit, hoe zou mijn leven zijn geweest als  ik bij mijn biologische familie was opgegroeid? Ik zie adoptie als een ‘life-event’, een ingrijpende gebeurtenis in een mensenleven. Adoptie hoeft niet, maar kan wel, leiden tot gevoelens van verdriet, gemis, boosheid, verwarring en leegte. Het is niet gek om hulp te zoeken zodat je met deze gevoelens beter kunt omgaan.
      Bij een deel van de geadopteerden is er in de vroege jeugd nog veel meer gebeurd dan adoptie alleen. Er kan sprake zijn geweest van ernstige traumatische ervaringen zoals verwaarlozing of het hebben van veel wisselende verzorgers voor de adoptie plaatsvindt. Vaak laten dergelijke ervaringen hun sporen achter en beinvloeden een geadopteerde ook als de gebeurtenissen inmiddels in het verre verleden liggen.
      Het kan ook zijn dat je problemen ervaart maar eigenlijk niet weet of je adoptie iets te maken heeft met waar je tegenaan loopt. Ook dan kunnen we samen kijken hoe jouw verleden invloed heeft gehad op wie je nu bent, en welke rol adoptie daarin mogelijk heeft gespeeld.

      In de afgelopen jaren heb ik samen met Ton Sondag (fotograaf en geadopteerd) en Kim van Schie (journaliste) gewerkt aan www.projectadopted.com. Dit bijzondere foto- en verhalenproject draait om het delen van verhalen en kennis over adoptie, om op deze manier meer begrip voor elkaar en meer verbinding met elkaar te creeren. De site bevat de verhalen en portretten van geadopteerden, adoptieouders, geboortemoeders en professionals die met geadopteerden werken, en daarnaast vind je op de site veel informatie over adoptie(problematiek) en hechting.

    <br>
    <br>
    </p>

</div>

     <img class="image-schaap col-md-4 col-sm-12" src="../images/schaap.jpg" alt="">

</div>



