<div class="banner col-12" style="background: url(../images/facebook.jpg) no-repeat center;">
  <div class="row no-margin">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class=".banner-text addmargin col-12"><h1></h1></div>
  </div>
</div>
<div class="container grey-background" >
  <div id="voorwie"><div>
      <br>
      <!-- <div class="page-text"> -->
        <h2 style="text-align: center">Voor welke klachten kun je terecht?</h2>

      <br>
      <div class="row">
        <div class="page-text col-lg-6 col-sm-12">
          <h3>Voor Wie?</h3>
          <p>Volwassenen tussen de 18 en 65 jaar kunnen bij mijn praktijk terecht. Onder andere kun je bij mij terecht voor onderstaande klachten:</p>
          <p>Je hebt last van somberheid</p>
          <p>je hebt last van angsten</p>
          <p>je ervaart gevoelens van leegte</p>
          <p>je ervaart identiteitsproblemen, weet niet goed wie je bent</p>
          <p>je ervaart problemen in relaties of in het contact met andere mensen</p>
          <p>Je hebt last van wisselende stemmingen</p>
          <p>je hebt moeite om met je emoties om te gaan</p>
          <p>(je kunt je emoties heel hevig ervaren, misschien voel je ze juist niet, of voel je ze afwisselend heel heftig of helemaal niet)</p>
        </div>
        <div class="col-lg-6 col-sm-12 bomen-image" style="background: url(../images/bomen.jpg) no-repeat center;"></div>

    </div>
        <div class="page-text">
          <p>Als je psychische klachten ervaart, word je vaak in eerste instantie behandeld middels een klachtgerichte behandeling. Indien een dergelijke behandeling onvoldoende resultaat oplevert, kan een meer persoonsgerichte behandeling -zoals ik aanbied in deze praktijk- in sommige gevallen meer effect hebben.</p>
          <p>Bij twijfel of jouw klachten te behandelen zijn in mijn praktijk, kun je altijd contact opnemen en je vraag aan mij voorleggen, dan denk ik met je mee.</p>
          <br>
        </div>

    </div>
  </div>
  <div class="grey-background">


    <h2 style="text-align: center" id="psychotherapie">Therapievormen</h2>

    <div class="row">
      <div class="handen-image col-lg-6 col-sm-12" style="background: url(../images/verbinding_5.jpg) no-repeat center;"></div>
      <div class="col-lg-6 col-sm-12 ">
        <br>
        <div class="page-text-half-right">
          <h3>Psychotherapie</h3>
            <p>Ik ben BIG geregistreerd psychotherapeut en je kunt bij mij terecht voor integratieve psychotherapeutische behandelingen. Dat betekent in praktijk dat ik geen standaard behandelmethode hanteer, maar dat ik samen met jou als client kijk wat er bij jou past.
            In een psychotherapeutische behandeling kijken we samen naar wie jij bent geworden als persoon en hoe jouw verleden hier invloed op heeft gehad. Dit is belangrijk omdat de wijze waarop we de wereld zien, doorwerkt in hoe we omgaan met situaties die we in het leven tegenkomen. Soms zijn de manieren die we eerder in ons leven hebben ontwikkeld om problemen te hanteren, na verloop van tijd niet meer helpend en kunnen zij zelfs bijdragen aan het ontstaan en blijven bestaan van psychische klachten. </p>
            <div id="bewegingstherapie"></div>
            <p>In therapie proberen we hier zicht op te krijgen om vervolgens een veranderingsproces in gang te zetten, waarbij het doel is dat je minder klachten gaat ervaren. Soms zal dit een korter traject zijn, maar het traject kan ook langer duren.</p>
           </div>

      </div>
    </div>
    <div class="row page-text">
      <br>
      <h3>Bewegingstherapie</h3>
      <p>Soms zijn psychische klachten zo diep ingesleten dat deze met alleen psychotherapie moeilijk veranderbaar zijn. Ik werk daarom regelmatig samen met mijn collega Michelle Kurzenacker. Zij is dans- en bewegingstherapeut en in opleiding tot sensori-motor therapeut.</p>
      <p>Via beweging en lichaamsbewustzijn kunnen veranderingen sneller en vollediger plaatsvinden

      Voor meer informative over de therapieën die Michelle geeft, zie haar website <a href="https://www.movedby.net">www.movedby.net</a>.</p>
    </div>
  </div>

        <div id="adoptie"></div>
        <br>
        <br>
      <h2 style="text-align: center">Adoptie</h2>
      <br>
      <div class="grey-background">
        <div class="row">
          <div class="page-text-half col-lg-7 col-sm-12">
            <p>Mijn bijzondere belangstelling gaat uit naar adoptie. Juist geadopteerde mensen kunnen in hun leven te maken krijgen met vragen als: wie ben ik, wat is mijn identiteit, hoe zou mijn leven zijn geweest als  ik bij mijn biologische familie was opgegroeid? Ik zie adoptie als een ‘life-event’, een ingrijpende gebeurtenis in een mensenleven. Adoptie hoeft niet, maar kan wel, leiden tot gevoelens van verdriet, gemis, boosheid, verwarring en leegte. Het is niet gek om hulp te zoeken zodat je met deze gevoelens beter kunt omgaan.</p>
            <p>Bij een deel van de geadopteerden is er in de vroege jeugd nog veel meer gebeurd dan adoptie alleen. Er kan sprake zijn geweest van ernstige traumatische ervaringen zoals verwaarlozing of het hebben van veel wisselende verzorgers voor de adoptie plaatsvindt.</p>
            <p>Vaak laten dergelijke ervaringen hun sporen achter en beinvloeden een geadopteerde ook als de gebeurtenissen inmiddels in het verre verleden liggen.</p>
          </div>
          <div class="col-lg-5 col-sm-12">
            <div class="odd-photo block mb-4"style="background: url(../images/sharon.jpg) no-repeat; transform: rotate(90deg);"></div>
          </div>
        </div>
        <div class="page-text col-12">
          <p>Het kan ook zijn dat je problemen ervaart maar eigenlijk niet weet of je adoptie iets te maken heeft met waar je tegenaan loopt. Ook dan kunnen we samen kijken hoe jouw verleden invloed heeft gehad op wie je nu bent, en welke rol adoptie daarin mogelijk heeft gespeeld.</p>
          <p>In de afgelopen jaren heb ik samen met Ton Sondag (fotograaf en geadopteerd) en Kim van Schie (journaliste) gewerkt aan www.projectadopted.com. Dit bijzondere foto- en verhalenproject draait om het delen van verhalen en kennis over adoptie, om op deze manier meer begrip voor elkaar en meer verbinding met elkaar te creeren. De site bevat de verhalen en portretten van geadopteerden, adoptieouders, geboortemoeders en professionals die met geadopteerden werken, en daarnaast vind je op de site veel informatie over adoptie(problematiek) en hechting.</p>
        </div>
    </div>

    <div class="" id="contact"><br></div>
    <div class="grey-background col-12">
      <div class="page-text">
        <h2 style="text-align: center">Werkwijze</h2>
      </div>
      <div class="row">
        <div class="page-text-half col-lg-6 col-sm-12">
          <h3>De praktijk & contact</h3>
            <p>Mijn praktijk is gevestigd in Schiedam-Noord. De therapieruimte is helaas niet toegankelijk voor mensen die niet in staat zijn om trappen te lopen.
            Er zijn ruim voldoende (gratis) parkeermogelijkheden in de wijk.</p >
            <br>
            <p>Via de volgende contactgegevens ben ik te bereiken:</p>
            <p>E-mail: <a href="mailto:inge@ingevanmeurs.nl">inge@ingevanmeurs.nl</a></p>
            <p>Telefoon: <a href="tel:06-11184272">06-11184272</a></p>
            <br>
            <p>Praktijkadres:</p>
            <p>Kalixfors 4</p>
            <div id="intake"></div>
            <p>3124 RB, Schiedam</p>
            <br>
        </div>
        <div class="odd-photo col-lg-6 col-sm-12"style="background: url(../images/map.png) no-repeat;"></div>
      </div>
  </div>

      <div class="page-text">
        <h3>Aanmelding & Intake</h3>
        <p>Wanneer je een aanmelding doet per email of telefonisch,  maak ik met jou een afspraak voor een telefonisch eerste gesprek. In dit gesprek zal ik samen met jou een inschatting maken of  behandeling in mijn praktijk aansluit bij jouw hulpvraag en wensen. Wanneer dit het geval is, kunnen wij een kennismakingsafspraak inplannen in de praktijk.</p>
        <p>De kennismakingsafspraak is nog geen intake. Pas wanneer we na de kennismaking besluiten om een behandeltraject op te starten, zal het eerste intakegesprek worden ingepland.</p>
        <p>De kennismakingsafspraak is nog geen intake. Pas wanneer we na de kennismaking besluiten om een behandeltraject op te starten, zal het eerste intakegesprek worden ingepland.</p>
        <p>De intakefase zal twee of drie gesprekken in beslag nemen. In het laatste gesprek worden diagnose en behandelvoorstel besproken. Wij maken in dit gesprek ook afspraken over de frequentie van de gesprekken, evaluatiemomenten en behandelmethodieken.</p>
        <div id="betaling"></div>
        <br>
      </div>

      <div class="page-text">
        <h3>Betaling & Vergoedingen</h3>
        <p>Psychotherapie door een BIG-geregistreerd psychotherapeut is opgenomen in de basisverzekering van de zorgverzekeringswet.</p>
        <p>Voor 2019 heeft de praktijk een contract afgesloten met DSW en Caresq.</p>
        <p>Met andere verzekeraars is geen contract afgesloten. Dat betekent dat u de rekening eerst zelf betaalt en vervolgens de factuur kunt indienen bij uw verzekeraar. Indien je een naturapolis hebt, krijg je ongeveer 70% terug van uw verzekeraar. Indien je een restitutiepolis hebt, krijg je het marktconforme tarief volledig vergoed.</p>
        <p>Als er geen sprake is van een diagnose die door verzekeraars wordt vergoed, of als je de therapie zelf wilt betalen, zijn de kosten in 2019 € 100 euro per sessie van 45 minuten.</p>
        <p>Als je in aanmerking wilt komen voor vergoeding door de verzekering, heb je altijd een verwijsbrief van je huisarts nodig.</p>
      </div>
      <div class="" id="overmij"><br></div>


    <div class="grey-background" id="overmij">
      <div class="row">
        <h2 style="text-align: center">Over Mij</h2>
        <br>
        <div class="col-lg-4 col-sm-12 small-photo"style="background: url(../images/inge.jpg) no-repeat center;"></div>
        <div class="page-text-half col-lg-7 col-sm-12">
          <p>Ik ben Inge van Meurs, geboren in 1979 en in 2003 afgestudeerd als ontwikkelingspsycholoog aan de Universiteit Leiden. Ik ben niet direct na mijn opleiding therapeut geworden: ik heb in de jeugdhulpverlening gewerkt en heb onderzoek gedaan zowel in het bedrijfsleven als aan de universiteit. Mijn promotieonderzoek was verbonden aan het Erasmus Medisch centrum en de Erasmus Universiteit. Het thema van mijn proefschrift was de overdracht van gedrag van ouders op kinderen. Een voorbode, zie ik nu, voor mijn latere focus op hechting in mijn werk als therapeut.</p>

        </div>
      </div>
      <div class="page-text col-12">
        <p>In 2011 ben ik gaan werken als therapeut voor volwassenen bij een grote GGZ-instelling. Ik heb hier zeven jaar gewerkt en heb in de tussentijd mijn opleiding tot psychotherapeut gedaan aan de Universiteit van Antwerpen. Hoewel ik lang met plezier in een instelling heb gewerkt, voelde ik een</p>
        <p> verlangen om mijn behandelingen meer naar mijn eigen inzicht te kunnen vormgeven. In mijn eigen praktijk ervaar ik meer vrijheid en meer mogelijkheden om mijn clienten een behandeling te bieden die bij hen aansluit.</p>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>
