
<div class="margin">
  <div class="text-psychotherapie col-md-6 col-sm-12">


   <h2>De Praktijk</h2>
   <br>

    <p>

Een schaap kan een leeftijd van 15 tot 20 jaar halen, maar dit komt in de praktijk zelden voor: meestal worden ze veel eerder geslacht. Op hoge leeftijd verliest een schaap zijn tanden en kiezen waardoor het niet meer goed kan eten. Schapen hebben 32 tanden en kiezen; ze hebben geen hoektanden en bovenaan geen snijtanden. Boven en onder hebben ze 6 voorkiezen en 6 kiezen, en alleen in de onderkaak 8 snijtanden. Die gebruiken ze om gras en kruidachtigen af te snijden, met een beweging zoals een tondeuse. Het grazen gaat dus heel anders dan bij de koe die het gras met zijn tong lostrekt. Een schaap eet daarom veel korter gras dan een koe, en een boer kan wel eerst koeien in een wei zetten en daarna schapen, maar nooit andersom.
Het schaap als nutsdier
Behalve voor de wol worden schapen ook gehouden voor hun melk en hun vlees, waarbij vooral het lamsvlees wordt gewaardeerd. De schapenmaag wordt gebruikt in traditionele gerechten als tripes en haggis. Uit schapendarmen werden condooms gemaakt, en ze worden soms nog gebruikt om de snaren voor violen en andere strijkinstrumenten te maken.
00 in 2014.


    <br>
    <br>
    </p>

</div>

  <div class="col-md-4 col-sm-12">
     <img class="image-praktijk" src="../images/kunst_van_het_loslaten.jpg" alt="">
  </div>

</div>
