<div class="band2">
  <br>
  <br>
</div>

<div class="index-container hidden-xs hidden-sm" id="top-margin">
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <img src="../images/verbinding_1.jpg" class="small-card col-lg-12 col-sm-12">
      <img src="../images/connection.jpg" class="small-card col-lg-12 col-sm-12">
    </div>
    <div class="col-lg-6 col-sm-12">
      <img src="../images/verbinding_5.jpg" alt="" class="picture-left col-lg-12 col-sm-12">

    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <img src="../images/verbinding_benen.jpg" class="small-card col-lg-12 col-sm-12">
    </div>
    <div class="col-lg-6 col-sm-12">
       <img src="../images/childbw.jpg" class="small-card col-lg-12 col-sm-12">
    </div>
  </div>
</div>
<div class="hidden-md hidden-lg home-mobile">
  <div class="home-text-mobile"></div>
  <h4>Psychotherapiepraktijk <br>Inge van Meurs</h4>
  <img class="image-mobile" src="../images/verbinding_5.jpg" alt="">
  <br>
  <br>
  <br>
</div>
