<div class="index-container" id="top-margin">
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <img src="../images/woman.jpeg" class="small-card col-lg-12 col-sm-12">
      <img src="../images/connection.jpg" class="small-card col-lg-12 col-sm-12">
    </div>
    <div class="col-lg-6 col-sm-12">
      <img src="../images/verbinding 5.jpg" alt="" class="picture-left col-lg-12 col-sm-12">

    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <img src="../images/verbinding benen.jpg" class="small-card col-lg-12 col-sm-12">
    </div>
    <div class="col-lg-6 col-sm-12">
       <img src="../images/woman2.jpeg" class="small-card col-lg-12 col-sm-12">
    </div>
  </div>
</div>

