---
title: Psychotherapie Praktijk Inge van Meurs
---

<div class="my-flex">
  <div class="flex-top">
    <div class="flex-left">
      <img src="../images/inge.jpg" class="picture-left">
      <div class="text-box-left"> <p>Over Mij</p></div>
    </div>
    <div class="flex-right">
      <img src="../images/boom.png" class="picture-right">
       <img src="../images/ocean.jpg" class="picture-right">
      <!--  <div class="text-box-right"><p>Voor Wie?</p></div>
       <div class="text-box-right2"><p>Over de Praktijk</p></div> -->
    </div>
  </div>
  <div class="flex-bottom">
    <img src="../images/view.jpeg" class="picture-bottom">
    <img src="../images/child.jpg" class="picture-bottom">
    <img src="../images/talk.jpeg" class="picture-bottom">


  </div>

</div>
