
<div class="margin">
  <div class="text-overmij col-md-7 col-sm-12">


   <h2>Over Mij</h2>
   <br>

    <p>
    Mijn naam is Inge van Meurs (1979). Ik ben afgestudeerd als ontwikkelingspsycholoog aan de Universiteit Leiden in 2003. Na mijn stage in de Minder- en Jeugd GGZ en een eerste baan als ambulant hulpverlener bij Bureau Jeugdzorg, heb ik een aantal jaren onderzoek gedaan aan het Erasmus Medisch Centrum (naar overdracht van gedrag van ouders op kinderen) en heb ik mijn proefschrift geschreven. Daarna werkte ik 7 jaar bij een grote GGZ-instelling. Daar behandelde ik volwassenen met verschillende soorten problemen, waaronder depressieve klachten, angst- en paniekklachten, traumagerelateerde klachten en persoonlijkheidsproblemen. Mijn bijzondere belangstelling gaat uit naar (onvoldoende verklaarde) lichamelijke klachten, hechtingsproblematiek en adoptieproblematiek.
    In 2016 ben ik afgestudeerd als psychotherapeut aan de Universiteit Antwerpen. Een psychotherapeut behandelt persoonsgericht: waarom is deze persoon geworden wie hij nu is, en waarom heeft hij juist deze klachten ontwikkeld? Mijn behandelingen probeer ik zoveel mogelijk af te stemmen op en met iedere individuele client. Iedereen is immers anders, en wat bij de ene persoon goed aanslaat, hoeft voor de ander niet te werken. Voor mij staat de relatie tussen de client en mijzelf als therapeut in iedere behandeling centraal. Een goed contact tussen therapeut en client en vertrouwen van de client in de therapeut en de behandeling, is een voorwaarde om een behandeling te laten slagen.
    Ik werk met cognitieve gedragstherapie (CGT) en waar nodig en mogelijk werk ik ook vanuit cliëntgericht en psychodynamisch perspectief. Daarnaast heb ik ervaring met Schematherapie en met Interpersoonlijke Psychotherapie (IPT).
    <br>
    <br>
    </p>

</div>

  <div class="col-md-4 col-sm-12">
     <img class="image-inge" src="../images/inge.jpg" alt="">
  </div>

</div>
