<div class="band2">
  <br>
  <br>
</div>


<div class="margin hidden-sm hidden-xs">
  <div class="voor-wie-header"> <h2>Psychotherapie</h2></div>
  <div class="text-psychotherapie col-md-6 col-sm-12">



    <p>
    Ik ben Big geregistreerd psychotherapeut en je kunt bij mij terecht voor integratieve psychotherapeutische behandelingen. Dat betekent in praktijk dat ik geen standaard behandelmethode hanteer, maar dat ik samen met jou als client kijk wat er bij jou past.
    In een psychotherapeutische behandeling kijken we samen naar wie jij bent geworden als persoon en hoe jouw verleden hier invloed op heeft gehad. Dit is belangrijk omdat de wijze waarop we de wereld zien, doorwerkt in hoe we omgaan met situaties die we in het leven tegenkomen. Soms zijn de manieren die we eerder in ons leven hebben ontwikkeld om problemen te hanteren, na verloop van tijd niet meer helpend en kunnen zij zelfs bijdragen aan het ontstaan en blijven bestaan van psychische klachten. In therapie proberen we hier zicht op te krijgen om vervolgens een veranderingsproces in gang te zetten, waarbij het doel is dat je minder klachten gaat ervaren. Soms zal dit een korter traject zijn, maar het traject kan ook langer duren.
    <br>
    <br>
    Nl63rabo0389399213 tnv MA Prins
    </p>

</div>

  <div class="col-md-4 col-sm-12">
     <img class="image-psychotherapie" src="../images/verbinding_1.jpg" alt="Reflectie van jongen in een glazen wand">
  </div>

</div>

<div class="mobile-page-text hidden-md hidden-lg">
  <div class="mobile-page"><h2>Psychotherapie</h2></div>
  <br>
  <p>

    Ik ben Big geregistreerd psychotherapeut en je kunt bij mij terecht voor integratieve psychotherapeutische behandelingen. Dat betekent in praktijk dat ik geen standaard behandelmethode hanteer, maar dat ik samen met jou als client kijk wat er bij jou past.
    In een psychotherapeutische behandeling kijken we samen naar wie jij bent geworden als persoon en hoe jouw verleden hier invloed op heeft gehad. Dit is belangrijk omdat de wijze waarop we de wereld zien, doorwerkt in hoe we omgaan met situaties die we in het leven tegenkomen. Soms zijn de manieren die we eerder in ons leven hebben ontwikkeld om problemen te hanteren, na verloop van tijd niet meer helpend en kunnen zij zelfs bijdragen aan het ontstaan en blijven bestaan van psychische klachten. In therapie proberen we hier zicht op te krijgen om vervolgens een veranderingsproces in gang te zetten, waarbij het doel is dat je minder klachten gaat ervaren. Soms zal dit een korter traject zijn, maar het traject kan ook langer duren.
    <br>
    <br>
    Nl63rabo0389399213 tnv MA Prins
  <br>
  <br>
  </p>
</div>
<div class="mobile-page hidden-md hidden-lg">
  <img class="mobile-page-image" src="../images/verbinding_1.jpg" alt="Reflectie van jongen in een glazen wand">
<br>
<br>
<br>
</div>
