
<div class="margin">
  <div class="text-psychotherapie col-md-6 col-sm-12">


   <h2>Voor Wie?</h2>
   <br>

    <p>
    Voor welke klachten kun je terecht?
    Onder andere kun je bij mij terecht voor onderstaande klachten
    <ul>
      <li>Je hebt last van somberheid</li>
      <li>je hebt last van angsten</li>
      <li>je ervaart gevoelens van leegte</li>
      <li>je ervaart identiteitsproblemen, weet niet goed wie je bent</li>
      <li>je ervaart problemen in relaties of in het contact met andere mensen</li>
      <li>Je hebt last van wisselende stemmingen</li>
      <li>je hebt moeite om om te gaan met je emoties (je kunt je emoties heel hevig ervaren, of misschien voel je ze juist niet)</li>
    </ul>
    <br>
    <br>
    </p>

</div>

  <div class="col-md-4 col-sm-12">
     <img class="image" src="../images/ocean.jpg" alt="">
  </div>

</div>
